<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--    <meta http-equiv="Content-Type" content="text/html">-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="./level_selection.js"></script>
    <title>Level Selection</title>
    <!--        <script src="level_selection.js" async defer></script>-->
</head>
<body>
<h1>Levels</h1>
<div id="posts"></div>
<!-- <div th:each="level : ${levelSelection}">
    <p><b>Name:</b> <span th:text="${level.levelName}"></span></p>
    <p><b>Description:</b> <span th:text="${level.desc}"></span></p>
</div> -->
<!--        <div>-->
<!--            <p><a href="cabin.html">Cabin</a></p>-->
<!--            <p><b>Description:</b></p>-->
<!--            <hr>-->
<!--            <p><a href="study.html">Study</a></p>-->
<!--            <p><b>Description:</b></p>-->
<!--        </div>-->
</body>
</html>